.header {
    background-color: rgba(50,60,65,255);
    padding-top: 3px;
    padding-bottom: 3px;
    display: flex;
    padding-left: 8px;
    width: 100%;
}

.logoCAC {
    height: 30%;
}

.codoacodo {
    width: 130px; 
    height: 70px;
    margin-left: 60px;
    margin-right: 10px;
    text-decoration: none;
}

.confHeader {
    justify-content: center;
    margin-top: 13px;
    color: white;
    font-weight:35px;
}

.linksHeader {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    width: 65%;
    list-style-type: none;
    padding-left: 210px;
    font-size: 15px;
    margin-top: 20px;  
}

linksHeader:active {
    color: white;
}

.opcionConferencia {
    color: darkgray;
    font-weight: 480;
}

a.opcionConferencia:hover {
    color: white;
}

.opcionOradores {
    color: darkgray;
    font-weight: 450;
}

a.opcionOradores:hover {
    color: white;
}

.opcionLugFecha {
    color: darkgray;
    font-weight: 450;
}

a.opcionLugFecha:hover {
    color: white;
}

.opcionConvertirOrador {
    color: darkgray;
    font-weight: 450;
}

a.opcionConvertirOrador:hover {
    color: white;
}

.opcionComprarTickets {
    color: rgba(69,131,85,255);
    font-weight: 600;
}

a.opcionComprarTickets:hover {
    color: rgba(43,165,70,255);
}

#fondoMain {
	text-align: center;
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	position: absolute;
    filter: brightness(0.5);
    top: -60px;
    left: 0px;
    z-index: -1;
    width: 100%;
    
}

.confMain {
    color: white;
    text-align: right;
    padding-top: 200px;
    padding-right: 90px;
    font-size: 10px;
}

.confTexto {
    color: white;
    text-align: right;
    padding-right: 90px;
    margin-top: 1px;
    font-weight: 120px;
    padding-left: 690px;

}

.confTexto h4 {
    font-weight: normal;
    font-size: 18px;
    margin-bottom: 10px;
}

.botonesMain {
    padding-left: 980px;
    margin-bottom: 400px;
    margin-top: -20px; 
}

.btn-outline-light {
    font-size: 12px;
    margin-right: 20px;
}

.btn-success {
    font-size: 12px;
    background-color: rgba(45,161,72,255);
}

.tarjetas {
    display: flex;
    flex-direction: row;
    margin-top: -20px; 
    margin-bottom: 20px;
    justify-content: center; 
}

.tarjetaSteve {
    margin-left: 200px;
    margin-right: 50px;
    width: 25rem; 
    border: 1px solid rgba(0,0,0,.125);
}

.tarjetaBill {
    margin-right: 50px;
    width: 25rem; 
    border: 1px solid rgba(0,0,0,.125);
}

.tarjetaAda {
    width: 25rem; 
    border: 1px solid rgba(0,0,0,.125);
    margin-right: 200px;
}

.container {
    padding-left: 0%;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
}

.col-6.themed-grid-col {
    width: 60%;
}

.col-6.themed-grid-col.text {
    width: 60%; 
    background-color: rgba(53,58,64,255); 
    color: white; 
    border-left: 0.5px solid gray;
    font-size: 1px;
}

.textoAlMedioTitulo {
    margin-left: 20px;
    padding-top: 20px;
}

.textoAlMedio {
    padding-left: 20px;
    padding-right: 20px;
    margin-right: 10px; 
    font-weight: 100px;
    font-size: 13px;
}

.titulo {
    margin-left: 300px; 
    margin-top: 5px; 
    color: rgba(154,151,158,255)
}

.nombre {
    margin-left: 300px;
}

.apellido{
    margin-right: 300px;
}

.form-floating {
    margin-left: 300px; 
    margin-right: 300px;
}

.form-floating .form-control {
    height: 200px;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.3s;
    color: black
}

.form-floating .form-control:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.form-floating .form-control:focus::placeholder {
    opacity: 0;
}

.form-floating label {
    position: absolute;
    top: 0;
    left: 10px;
    padding: 7px;
    font-size: 25px;
    color: rgba(154, 151, 158, 255);
    transition: top 0.3s, font-size 0.3s;
    pointer-events: none;
}

.form-floating .form-control:focus + label,
.form-floating .form-control:not(:placeholder-shown) + label {
    top: -20px;
    font-size: 18px;
    background-color: white;
    padding: 2px 5px;
}

.enviar {
    margin-left: 300px; 
    margin-right: 300px; 
    width: 55%; 
    background-color: rgba(150,201,62,255); 
    border-color: rgba(150,201,62,255); 
    margin-bottom: 30px;
}



/* Controlo el FOOTER*/
.footer {
    text-align: center;
    background: linear-gradient(70deg, rgba(26,54,68,255), rgba(27,82,113,255));
    display: flex;
    color:white;
    flex-direction: row;
    padding-left: 300px;
    padding-right: 300px;
    justify-content: space-between;
    list-style-type: none;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 18px;
    align-items: center;
    position: relative;
    width: 100%;
    margin-bottom: 0%;

}

.preguntas {
    width: 7%;
    line-height: 100%;
    margin-bottom: 20px;
    margin-left: -150px;
    font-size: 15px;
}

.contacto {
    width: 7%;
    line-height: 100%;
    margin-bottom: 20px;
    margin-left: 90px;
    font-size: 15px;
}

.prensa {
    width: 7%;
    line-height: 100%;
    margin-bottom: 20px;
    margin-left: 130px;
    font-size: 15px;
}

.conferencias {
    width: 7%;
    line-height: 100%;
    margin-bottom: 20px;
    margin-left: 110px;
    font-size: 15px;
}

.condiciones {
    width: 7%; 
    line-height: 100%;
    margin-bottom: 20px;
    margin-left: 140px;
    font-size: 15px;
}

.privacidad {
    width: 7%;
    line-height: 100%;
    margin-bottom: 20px;
    margin-left: 110px;
    font-size: 15px;
}

.estudiantes {
    width: 7%;
    line-height: 100%;
    margin-bottom: 20px;
    margin-left: 110px;
    font-size: 15px;
} 

.navbar {
    display: none;
}

* {
    box-sizing: border-box;
}

body {
    width: 100%;
}

footer {
    width: 100%;
}